﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sales Managment System</h1>
    <p class="lead">This System manages all Finatial asspects of your company a privide your employees a interface for their work</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Administrater can Log in to the system using the password provided 
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Employees</h2>
        <p>Employees can use new accounts created by the adminstrator        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Work Area</h2>
        <p>Each User is provided with a interface that suits the needs of the Employee.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>