﻿@model IdentitySQLDemo.Models.PRODUCTS

@{
    ViewBag.Title = "DeleteDetails";
}

<h2>DeleteDetails</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PRODUCTS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer_Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer_Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Produced_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produced_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expire_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expire_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

       

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Product_Details")
        </div>
    }
</div>
