﻿@model IdentitySQLDemo.Models.PRODUCTS

@{
    ViewBag.Title = "intsertdata";
}

<h2>intsertdata</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PRODUCTS</h4>
        <hr />
        @Html.ValidationSummary(true)


        <div class="form-group">
            @Html.LabelFor(model => model.Product_Code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Product_Code)
                @Html.ValidationMessageFor(model => model.Product_Code)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Product_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Product_Name)
                @Html.ValidationMessageFor(model => model.Product_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Produced_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Produced_Date)
                @Html.ValidationMessageFor(model => model.Produced_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Expire_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Expire_Date)
                @Html.ValidationMessageFor(model => model.Expire_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Unit_Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Unit_Price)
                @Html.ValidationMessageFor(model => model.Unit_Price)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity)
                @Html.ValidationMessageFor(model => model.Quantity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Manufacturer_Details, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Manufacturer_Details)
                @Html.ValidationMessageFor(model => model.Manufacturer_Details)
            </div>
        </div>


        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Product_Details")
</div>
