﻿
@{
    ViewBag.Title = "Products";
}

<div class="btn-group">
    <button type="button" class="btn btn-danger">Products</button>
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#">Items from supplier.</a></li>
        <li><a href="#">Items to customer.</a></li>
        >
    </ul>
</div>
<div class="jumbotron">
    
    <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>





    </form>



   
</div>



