﻿@model IEnumerable<IdentitySQLDemo.Models.PRODUCTS>

@{
    ViewBag.Title = "search_Pst";
}

<h2>search_Pst</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer_Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produced_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expire_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit_Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manufacturer_Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Produced_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Expire_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit_Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
       
       
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.Product_Code  }) |
            |
            @Html.ActionLink("Delete", "Delete", new { id = item.Product_Code })
        </td>
    </tr>
}

</table>
