﻿@model IEnumerable<IdentitySQLDemo.Models.Notification>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SenderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceiverId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotificationMsg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotificationStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceiveTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotificationType)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SenderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiverId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotificationMsg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotificationStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiveTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotificationType)
            </td>
            <td>
                @if (!string.Equals(item.NotificationType, "urgant")) {
                    <button type="button" class="btn btn-primary" id="NormalApprove-@item.NotificationId" value="@item.NotificationId">Approve</button>
                    <button type="button" class="btn" id="NormalDisApprove-@item.NotificationId" value="@item.NotificationId">No</button>
                    <script>
                        $(function () {
                            // Reference the auto-generated proxy for the hub.
                            var chat = $.connection.chatHub;

                            $('#NormalApprove-@item.NotificationId').click(function () {
                                chat.server.updateNotification('@DateTime.Now', 'approved', $('#NormalApprove-@item.NotificationId').val());
                            });

                            $('#NormalDisApprove-@item.NotificationId').click(function () {
                                chat.server.updateNotification('@DateTime.Now', 'disapproved', $('#NormalDisApprove-@item.NotificationId').val());
                            });
                        });
                    </script>
                }
                </td>
            </tr>
}

            </table>
