﻿@{
    ViewBag.Title = "Admin Page";
    Layout = "~/Views/Shared/_FrontPageLayout.cshtml";
}
<style type="text/css">
        ul {
            list-style-type:none;
        }
</style>
<link href="~/Content/jquery.gridster.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.gridster.js"></script>
<h2>Admin Page</h2>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<div class="row no-margin no-padding" style="height: 100%">
    <div class="row no-margin no-padding" style="height: 100%">
        <div class="col-md-7 no-margin">
            @Ajax.ActionLink("All Messages", "getAllMessages", "Home", new AjaxOptions
       {
           HttpMethod = "Get",
           UpdateTargetId = "messages",
           InsertionMode = InsertionMode.Replace
       })
            @Ajax.ActionLink("Last 10 messages", "getLastTenMessages", "Home", new AjaxOptions
       {
           HttpMethod = "Get",
           UpdateTargetId = "messages",
           InsertionMode = InsertionMode.Replace
       })

            <div id="messages">
                    </div>
                </div>
            </div>
    @*@Html.Action("ParNortifications", "Home")*@
        </div>
<div>
    <div class="gridster">
        <ul></ul>
    </div>

    <script type="text/javascript" src="jquery-1.9.1.min.js"></script>
    <script src="../dist/jquery.gridster.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript" id="code">
        var gridster;

        $(function () {

            gridster = $(".gridster > ul").gridster({
                widget_margins: [5, 5],
                widget_base_dimensions: [100, 55]
            }).data('gridster');

            var widgets = [
                ['<li style="background-color:yellow">0</li>', 2, 4],
                ['<li style="background-color:red">1</li>', 4, 2],
                ['<li style="background-color:black">2</li>', 4, 2],
                ['<li style="background-color:blue">3</li>', 4, 2],
                ['<li style="background-color:green">4</li>', 6, 2],
                ['<li style="background-color:pink">5</li>', 2, 4],
                ['<li style="background-color:gray">6</li>', 4, 2],
                ['<li style="background-color:orange">7</li>', 4, 2],
                ['<li style="background-color:#fff123">8</li>', 2, 2],
                ['<li style="background-color:#234532">10</li>', 2, 4]
            ];

            $.each(widgets, function (i, widget) {
                gridster.add_widget.apply(gridster, widget)
            });

        });
    </script>
</div>

