﻿@model IdentitySQLDemo.Models.Company

@{
    ViewBag.Title = "Company Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
 }

<h2>Company Details</h2>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ComId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisteredCountry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>
    @using (Html.BeginForm("EditCompanyDetails_Get", "Account", Model))
    {
        <tr>
            <td>
                @Html.DisplayFor(model => model.ComId)
            </td>
            <td>
                @Html.DisplayFor(model => model.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(model => model.RegistrationNo)
            </td>
            <td>
                @Html.DisplayFor(model => model.RegisteredCountry)
            </td>
            <td>
                @Html.DisplayFor(model => model.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(model => model.PhoneNo)
            </td>
            <td>
                @Html.DisplayFor(model => model.Email)
            </td>
            <td>
                <button type="button" id="Edit">
                    @Html.ActionLink("Edit", "EditCompanyDetails_Get", Model)
                </button>
                <script>
                $(function () {

                    $('#Edit').hide();

                });
                </script>

                <!-- pop up for editing compan details -->
                <div id="popup_sendNotification" style="display: none;">
                    <div class="pull-left">
                        <input type="hidden" id="NotifiMsg" value="Edit details of @Model.CompanyName" />

                                    <input type="text" class="text-success" id="receiver" />
                                    <button type="button" class="btn-danger" id="runscript">Athorize</button>
                                    
                                @Html.DropDownList("Type", new List<SelectListItem>{
                                    new SelectListItem{ Text = "Urgant", Value = "urgent" },
                                    new SelectListItem{ Text = "Normal", Value = "normal" },
                                })

                        </div>
                    </div>
                <button id="edit_company" type="button" >Edit</button>
            </td>

        </tr>
    }
</table>
<script type="text/javascript">
    $(function () {
        $('#edit_company').click(function () {
            $('#popup_sendNotification').bPopup();
        });
    });
</script>




















