﻿@model AspNet.Identity.MySQL.IdentityUser

@{
    ViewBag.Title = "Edit My Details";
}

<h2>Edit My Details</h2>


@using (Html.BeginForm("EditMyDetails","Account"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>IdentityUser</h4>
        <hr />
        @Html.ValidationSummary(true)
        
                @Html.HiddenFor(model => model.Id)
                @Html.ValidationMessageFor(model => model.Id)
          


        <div class="form-group">
            @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        @Html.HiddenFor(model => model.EmailConfirmed)

        @Html.HiddenFor(model => model.PasswordHash)

        @Html.HiddenFor(model => model.SecurityStamp)

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber)
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>
        </div>

        @Html.HiddenFor(model => model.PhoneNumberConfirmed)

        @Html.HiddenFor(model => model.TwoFactorEnabled)

        @Html.HiddenFor(model => model.LockoutEndDateUtc)

        @Html.HiddenFor(model => model.LockoutEnabled)

        @Html.HiddenFor(model => model.LockoutEndDateUtc)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to My Detals", "GetMyDetails")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
