﻿@model IdentitySQLDemo.Models.Privilage

@{
    ViewBag.Title = "Edit Privilages";
}

<h2>Edit Privilages</h2>

@using (Html.BeginForm("EditPrivilages_Post","Account"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Privilage</h4>
        <hr />
        @Html.ValidationSummary(true)
        
        @Html.HiddenFor(model => model.UserId)

        <div class="form-group">
            @Html.LabelFor(model => model.RoleId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RoleId)
                @Html.ValidationMessageFor(model => model.RoleId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Function_1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Function_1)
                @Html.ValidationMessageFor(model => model.Function_1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Function_2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Function_2)
                @Html.ValidationMessageFor(model => model.Function_2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Function_3, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Function_3)
                @Html.ValidationMessageFor(model => model.Function_3)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
