﻿@model IdentitySQLDemo.Models.FindEmployee

@{
    ViewBag.Title = "Find User";
}

<h2>Find User</h2>


@using (Html.BeginForm("FindUser_Post", "Account"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Find Employee</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id)
                @Html.ValidationMessageFor(model => model.Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Find" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<link href="~/Content/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.10.4.custom.min.js"></script>
<script>
$(function () {
    $("#UserName").autocomplete({
        source: '@Url.Action("GetEmp", "Account", null)'
        });
});
$(function () {
        $("#Id").autocomplete({
            source: '@Url.Action("GetId", "Account", null)'
        });
    });
</script>
@*<script src="~/Scripts/autocomplete-username.js"></script>
<script src="~/Scripts/autocomplete-id.js"></script>*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
