﻿@model IdentitySQLDemo.Models.ApplicationUser

@{
    ViewBag.Title = "My Details";
}

<h2>My Details</h2>

<p>
    @Html.ActionLink("Edit", "EditMyDetails", Model)
</p>
<table class="table table-hover table-striped">
    <tr>
        <th>User Id : </th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Name : </th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>User Name : </th>
        <td>@Model.UserName</td>
    </tr>
    <tr>
        <th>Email : </th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>Phone Number : </th>
        <td>@Model.PhoneNumber</td>
    </tr>

</table>
