﻿@model IEnumerable<IdentitySQLDemo.Models.Privilage>

@{
    ViewBag.Title = "Employee Privilages";
}

<h2>Employee Privilages</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Function_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Function_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Function_3)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Function_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Function_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Function_3)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditPrivilages", item) |
            
            @Html.ActionLink("Delete", "DeletePrivilages", new { userId = item.UserId })
        </td>
    </tr>
}

</table>
