﻿@model IEnumerable<IdentitySQLDemo.Models.Privilage>

@{
    ViewBag.Title = "MyPrvilages";
}

<h2>My Prvilages</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Function_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Function_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Function_3)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Function_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Function_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Function_3)
        </td>
    </tr>
}

</table>
