﻿@{
    ViewBag.Title = "SelectNotification";
}

<h2>SelectNotification</h2>


<div>
    @using (Html.BeginForm("NotifiSelect", "Account"))
    {
        @Html.Label("StartDate", "Start Date")
        <input type="date" name="sdate" />

        @Html.Label("EndDate", "End Date")
        <input type="date" name="edate" />
        
        @Html.Label("type", "NotificationType")
        <select name="type">
            <option value="urgant">Urgant</option>
            <option value="normal">Normal</option>
        </select>
                    
        <input type="submit" value="Submit" />
    }


    <div id="result">

    </div>
</div>
