﻿@model IdentitySQLDemo.Models.GRN

@{
    ViewBag.Title = "GRN_Delete";
    
}

<h2>GRN_Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GRN</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.GRN_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GRN_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descriptions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descriptions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ordered_Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ordered_Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Delivered_Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Delivered_Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Net_Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Net_Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Net_Values)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Net_Values)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "GRN_view", "Supply")
        </div>
    }
</div>
