﻿@model IdentitySQLDemo.Models.GRN

@{
    ViewBag.Title = " Insert New Goods Received Note";
    
}

<h2>Insert New Goods Received Note</h2>


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formSubmitGrn" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>GRN</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.GRN_NO, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GRN_NO)
                @Html.ValidationMessageFor(model => model.GRN_NO)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Supplier_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Supplier_id)
                @Html.ValidationMessageFor(model => model.Supplier_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descriptions, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descriptions)
                @Html.ValidationMessageFor(model => model.Descriptions)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ordered_Quantity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ordered_Quantity)
                @Html.ValidationMessageFor(model => model.Ordered_Quantity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Delivered_Quantity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Delivered_Quantity)
                @Html.ValidationMessageFor(model => model.Delivered_Quantity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Total_Value, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Total_Value)
                @Html.ValidationMessageFor(model => model.Total_Value)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Discount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Discount)
                @Html.ValidationMessageFor(model => model.Discount)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Net_Value, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Net_Value)
                @Html.ValidationMessageFor(model => model.Net_Value)
            </div>
        </div>*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-default" id="authanticate_GRN">Remote Authanticate</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-default" id="check_db_grn">Self Authanticale</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Create" class="btn btn-default" id="validate_GRN"/>
            </div>
        </div>
    </div>
    
}
<input type="hidden" value="GRN" id="type_GRN"/>
<script>
    document.getElementById("validate_GRN").disabled = true;
</script>
<div>
    @Html.ActionLink("Back to List", "GRN_view", "Supply")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
