﻿@model IEnumerable<IdentitySQLDemo.Models.GRN>

@{
    ViewBag.Title = "GRN";
    
    }
<h2>Goods Received Note</h2>

<p>
    @Html.ActionLink("Create New", "GRN_Inset", "Supply")
</p>
@*<p>
    Supplier_id : @Html.DropDownList("SupplierID", "All")
    GRN_NO: @Html.TextBox("strSearch")
    <input type="submit" value="Search" />
</p>*@
        
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GRN_NO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descriptions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ordered_Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Delivered_Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total_Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Net_Value)
        </th*@
        <th>
            @Html.DisplayNameFor(model => model.Net_Values)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GRN_NO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descriptions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ordered_Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Delivered_Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total_Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Net_Value)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Net_Values)
        </td>
        <td>
            @Html.ActionLink("Edit", "GRN_Edit", "Supply", new { grno = item.GRN_NO }, null) |
            @*@Html.ActionLink("Details", "Details", new {  grno=item.GRN_NO }) |*@
            @Html.ActionLink("Delete", "GRN_Delete", "Supply", new { grno = item.GRN_NO }, null)
            <button type="button" id="modal-opener" onclick="openModel()">Open Dialog</button>

        </td>
    </tr>
}

</table>

<div id="dialog-modal" title="Modal dialog">
    <input type="text" class="text-success" id="receiver" />
    <button type="button" class="btn-danger" id="modalrunner" onclick="closeModal()">Athorize</button>

    @Html.DropDownList("Type", new List<SelectListItem>{
                new SelectListItem{ Text = "Urgant", Value = "urgent" },
                new SelectListItem{ Text = "Normal", Value = "normal" },
            })
</div>
<script type="text/javascript">
    function closeModal() {
        $('#modalrunner').click(function () {


            $('#dialog-modal').dialog("close");

        });
    }

    
</script>