﻿@model IdentitySQLDemo.Models.Sales_Return_Order

@{
    ViewBag.Title = "Sales_Return_Order_Delete";
    
}

<h2>Sales_Return_Order_Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sales_Return_Order</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.SalesRe_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesRe_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoice_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoice_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descriptions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descriptions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quntity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quntity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Sales_Return_Order_view", "Supply")
        </div>
    }
</div>
