﻿@model IEnumerable<IdentitySQLDemo.Models.Sales_Return_Order>

@{
    ViewBag.Title = "Sales Return Order";
    
}

<h2>Sales Return Order</h2>

<p>
    @Html.ActionLink("Create New", "Sales_Return_Order_Inset", "Supply")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SalesRe_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Invoice_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descriptions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quntity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit_Price)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Total_Price)
        </th*@
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SalesRe_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Invoice_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descriptions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quntity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit_Price)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Total_Price)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.ActionLink("Edit", "Sales_Return_Order_Edit", "Supply", new { srn = item.SalesRe_No }, null) |
            @*@Html.ActionLink("Details", "", new { =item.}) |*@
            @Html.ActionLink("Delete", "Sales_Return_Order_Delete", "Supply", new { srn = item.SalesRe_No }, null)
        </td>
    </tr>
}

</table>
