﻿@model IdentitySQLDemo.Models.Sales_Order

@{
    ViewBag.Title = "Insert New Sales Orders";
    
}<div style="float:left; padding-left:200px;">
    
        <h2>Insert New Sales Orders</h2>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4> Enter Sales Orders</h4>
                <hr />
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(model => model.Invoice_No, new { @class = "control-label col-md-5" })
                    <div class="col-md-19">
                        @Html.EditorFor(model => model.Invoice_No)
                        @Html.ValidationMessageFor(model => model.Invoice_No)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Supplier_id, new { @class = "control-label col-md-5" })
                    <div class="col-md-19">
                        @Html.EditorFor(model => model.Supplier_id)
                        @Html.ValidationMessageFor(model => model.Supplier_id)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Descriptions, new { @class = "control-label col-md-5" })
                    <div class="col-md-19">
                        @Html.EditorFor(model => model.Descriptions)
                        @Html.ValidationMessageFor(model => model.Descriptions)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-5" })
                    <div class="col-md-19">
                        @Html.EditorFor(model => model.Date)
                        @Html.ValidationMessageFor(model => model.Date)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Quntity, new { @class = "control-label col-md-5" })
                    <div class="col-md-19">
                        @Html.EditorFor(model => model.Quntity)
                        @Html.ValidationMessageFor(model => model.Quntity)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Unit_Price, new { @class = "control-label col-md-5" })
                    <div class="col-md-19">
                        @Html.EditorFor(model => model.Unit_Price)
                        @Html.ValidationMessageFor(model => model.Unit_Price)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" id="authanticate_Sales_Order">Remote Authanticate</button>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-5 col-md-5">
                        <input id:#button1 type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
            
            <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Create" class="btn btn-default" id="validate_Sales_Order"/>
            </div>
        </div>
        }
     <input type="hidden" value="Sales_Order" id="type_Order" />
     <script>
         document.getElementById("validate_Sales_Order").disabled = true;
     </script>
        <div>
            @Html.ActionLink("Back to List", "Sales_Order_view", "Supply")
        </div>
    </div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")

            <script type="text/javascript"
                    src="http://code.jquery.com/jquery-latest.js">
            </script>

            <script type="text/javascript">
                $(document).ready(function () {
                    $('#Button1').click(function () {
                        location.reload();
                    });
                });
            </script>
        }
