﻿@model IdentitySQLDemo.Models.Sales_Order

@{
    ViewBag.Title = "Sales_Order_Edit";
    
    
}

<h2>Sales_Order_Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Sales_Order</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Invoice_No, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Invoice_No)
                @Html.ValidationMessageFor(model => model.Invoice_No)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Supplier_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Supplier_id)
                @Html.ValidationMessageFor(model => model.Supplier_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descriptions, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descriptions)
                @Html.ValidationMessageFor(model => model.Descriptions)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quntity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quntity)
                @Html.ValidationMessageFor(model => model.Quntity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Unit_Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Unit_Price)
                @Html.ValidationMessageFor(model => model.Unit_Price)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Total_Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Total_Price)
                @Html.ValidationMessageFor(model => model.Total_Price)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Sales_Order_view", "Supply")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
