﻿@model IEnumerable<IdentitySQLDemo.Models.Customer_Details>

@{
    ViewBag.Title = "Search Supplier Detail";
}

<h2>Search Supplier Detail</h2>

<div style="float:right;padding-right:200px">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Supplier_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Tphone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Adress)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tphone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Supplier_Detail_Edit", "Supply", new { id = item.Supplier_ID }, null) |
                    @*@Html.ActionLink("Details", "Details", new { id=item.Supplier_ID },null) |*@
                    @Html.ActionLink("Delete", "supplier_Detail_Delete", "Supply", new { id = item.Supplier_ID }, null)
                </td>
            </tr>
        }

    </table>
</div>