﻿@model IEnumerable<IdentitySQLDemo.Models.Customer_Details>

@{
    ViewBag.Title = "Supplier Details";
    
}
<link href="~/Content/PagedList.css" rel="stylesheet" />

<h2>Supplier Details</h2>

<p style="padding-top:70px">

    @Html.ActionLink("Create New", "Supplier_Detail_Inset", "Supply")


    @using (Html.BeginForm("search_Supplier_Detail", "Supply", FormMethod.Get))
    {

        <b> Enter Supplier Name:</b>
        @Html.TextBox("search") <input type="submit" value="Search" />

    }
    <hr />
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Supplier_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tphone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tphone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adress)
        </td>
        <td>
            @Html.ActionLink("Edit", "Supplier_Detail_Edit", "Supply", new { sid = item.Supplier_ID }, null) |
            @*@Html.ActionLink("Details", "Details", new { id=item.Supplier_ID  }) |*@
            @Html.ActionLink("Delete", "supplier_Detail_Delete", "Supply", new { sid = item.Supplier_ID }, null)
        </td>
    </tr>
}

</table>
