﻿@model IdentitySQLDemo.Models.Customer_Details

@{
    ViewBag.Title = "Delete Supplier Details";
    
}

<h2>Delete Supplier Details</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Customer Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Supplier_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tphone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tphone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Supplier_Detail_view", "Supply")
        </div>
    }
</div>
