﻿@model IdentitySQLDemo.Models.Customer_Details

@{
    ViewBag.Title = " Edit Supplier Detail";
}

<h2>Edit Supplier Detail</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
  
    <div class="form-horizontal">
        <h4>Supplier Details</h4>
        <hr />
        <div>
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.Supplier_ID, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Supplier_ID)
                    @Html.ValidationMessageFor(model => model.Supplier_ID)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Tphone, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Tphone)
                    @Html.ValidationMessageFor(model => model.Tphone)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Adress, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Adress)
                    @Html.ValidationMessageFor(model => model.Adress)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Supplier_Detail_view", "Supply")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
