﻿@model IdentitySQLDemo.Models.Customer_Details

@{
    ViewBag.Title = "Insert New Supplier Details";
    
}
<div style="float:left; padding-left:200px;">
    <h2>Insert New Supplier Details</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4> Enter Supplier Details</h4>
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.Supplier_ID, new { @class = "control-label col-md-5" })
                <div class="col-md-19">
                    @Html.EditorFor(model => model.Supplier_ID)
                    @Html.ValidationMessageFor(model => model.Supplier_ID)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-5" })
                <div class="col-md-19">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Tphone, new { @class = "control-label col-md-5" })
                <div class="col-md-19">
                    @Html.EditorFor(model => model.Tphone)
                    @Html.ValidationMessageFor(model => model.Tphone)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-5" })
                <div class="col-md-19">
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Adress, new { @class = "control-label col-md-5" })
                <div class="col-md-19">
                    @Html.EditorFor(model => model.Adress)
                    @Html.ValidationMessageFor(model => model.Adress)
                </div>
            </div>

            @*<div><a href="#" id="addNew">Add New</a></div>


                <table class="table-condensed" id="dataTable">
                    <tr>
                        <th> <center>Supplier_ID  </center> </th>
                        <th> <center>Name  </center>   </th>
                        <th> <center>Tphone   </center>  </th>
                        <th>  <center>Email</center>  </th>
                        <th> <center>Adress  </center>  </th>

                        <th></th>
                    </tr>

                    @if (Model != null && Model.Count >0)
                    {
                        var j = 0;

                        foreach (var i in Model)
                        {

                            <tr>

                                <td> @Html.TextBoxFor(a => a[j].Supplier_ID)</td>
                                <td> @Html.TextBoxFor(a => a[j].Name) </td>
                                <td> @Html.TextBoxFor(a => a[j].Tphone)</td>
                                <td> @Html.TextBoxFor(a => a[j].Email)</td>
                                <td> @Html.TextBoxFor(a => a[j].Adress)</td>

                                <td>
                                    @if (j > 0)
                                    {

                                        <a href="#" class="remove">Remove</a>

                                    }

                                </td>
                            </tr>


                                    j++;

                        }




                    }*@


            @*</table>*@

            <div class="form-group">
                <div class="col-md-offset-5 col-md-5">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Supplier_Detail_view", "Supply")
    </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

        <script>
            $(document).ready(function () {

                //1. Add new row
                $("#addNew").click(function (e) {
                    e.preventDefault();

                    var $tableBody = $("#dataTable");

                    if ($("#dataTable tr").length > 7) {
                        alert('You can only add 5 record at a time!');
                        return false;
                    }


                    var $trLast = $tableBody.find("tr:last");
                    var $trNew = $trLast.clone();

                    var suffix = $trNew.find(':input:first').attr('name').match(/\d+/);
                    $trNew.find("td:last").html('<a href="#" class="remove">Remove</a>');
                    $.each($trNew.find(':input'), function (i, val) {
                        // Replaced Name
                        var oldN = $(this).attr('name');
                        var newN = oldN.replace('[' + suffix + ']', '[' + (parseInt(suffix) + 1) + ']');
                        $(this).attr('name', newN);
                        //Replaced value
                        var type = $(this).attr('type');
                        if (type.toLowerCase() == "text") {
                            $(this).attr('value', '');
                        }

                        // If you have another Type then replace with default value
                        $(this).removeClass("input-validation-error");

                    });
                    $trLast.after($trNew);

                    // Re-assign Validation
                    var form = $("form")
                        .removeData("validator")
                        .removeData("unobtrusiveValidation");
                    $.validator.unobtrusive.parse(form);
                });

                // 2. Remove
                //$('a.remove').live("click", function (e) {   --> this is for old jquery library
                $('body').on("click", 'a.remove', function (e) {
                    e.preventDefault();
                    $(this).parent().parent().parent().parent().remove();
                });

            });
        </script>
    }




