﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - cloud server Sales Management System</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/css")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    @Scripts.Render("~/bundles/jqueryui")
    @*@Scripts.Render("~/bundles/jqueryval")*@
    @*<script src="~/Scripts/jquery-ui.min.js"></script>*@
    @*@Scripts.Render("~/bundles/modernizr")*@

</head>


<body>
    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sales Management system", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">

        @if (!String.Equals(ViewContext.RouteData.GetRequiredString("action"), "Index") && !String.Equals(ViewContext.RouteData.GetRequiredString("action"), "Manage"))
        {
            @Html.Partial("_sidebar")
        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ASP.net cloud server Sales Management System</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
