﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - cloud server Sales Management System</title>
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/css_for_layout/style.min.css" rel="stylesheet" />
    @*<link href="~/Content/css_for_layout/demo.css" rel="stylesheet" />*@
    @*<link href="~/Content/css_for_layout/normalize.css" rel="stylesheet" />*@
    <link href="~/Content/css_for_layout/ns-default.css" rel="stylesheet" />
    <link href="~/Content/css_for_layout/ns-style-growl.css" rel="stylesheet" />

    <style type="text/css">
        notiID {
            padding-top: 20px;
        }
    </style>
</head>


<body>
    @*<div class="md-modal md-effect-16" id="modal-16">
            <div class="md-content">
                <h3>Atha</h3>
                <div>
                    <div id="output"></div>
                    <ul>
                        <li><p><input type="password" class="text-success" id="pass" />&hellip;</p></li>
                        <li><button type="button" id="yes" >Athorize</button><button type="button" id="no" value="false">No</button></li>
                    </ul>
                </div>
            </div>
        </div>*@    <button class="hidden md-trigger" data-modal="modal-16" id="dialog-modal-reply">Blur</button>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sales Management system", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <!-- side bar -->
    <div class="container body-content no-margin no-padding">

        @if (!String.Equals(ViewContext.RouteData.GetRequiredString("action"), "Index") && !String.Equals(ViewContext.RouteData.GetRequiredString("action"), "Manage"))
        {
            @Html.Partial("_sidebar")
        }
        <!-- side bar end -->
        @RenderBody()
        <hr />

        <!-- pop up for notification authantication-->
        <div id="popup" style="display: none;">
            <div class="pull-left">
                <header>
                    <h4 class="modal-title">Authantication</h4>
                </header>
                <p><input type="password" class="text-success" id="pass" /></p>
                <div id="output"></div>
                <button type="button" class="btn btn-primary" id="yes">Athorize</button>
                <button type="button" class="btn btn-default" id="no" value="false">No</button>
            </div>
        </div>
        <!-- pop up End notification authantication-->

        <!--Popup for sending Notification for Invoices-->
        <div id="popup_send_notification" style="display: none;">
            <div class="pull-left">
                <header>
                    <h4 class="modal-title">Send Notification</h4>
                </header>
                <p><input type="text" class="text-success" id="Name_for_authanticater" /></p>

                <button type="button" class="btn btn-primary" id="authanticate">Send Request</button>
            </div>
        </div>
        <!--Popup End for sending Notification for Invoices-->
        <!--Popup for sending Notification for Invoices self authantication-->
        <div id="notificationList_aprove" style="display: none;">
            <div class="pull-left">
                <h4>Authanticatte</h4>
                <ul>
                    <li><input type="password" class="text-success" id="list_password" /></li>

                    <li><button type="button" class="btn btn-primary" id="list_Approve">Approve</button>
                    <button type="button" class="btn btn-primary" id="list_Disapprove">Disapprove</button></li>
                    <li><button type="button" class="btn btn-primary" id="list_Check_invoice">Check</button></li>
                </ul>
            </div>
        </div>
        <!--Popup End for sending Notification for Invoices self authanticatio-->

        <!-- pop up for Displaying Invoices-->
        <div id="popupDisplayGRN" class="pull-left" style="display: none;">
            <div id="load_ajax">

            </div>
            <button id="check_invoice_with_db" type="button">check</button>
            <button id="reopen_authantication_popup" type="button">Authanticate</button>
        </div>
        <!-- pop up for Displaying Invoices-->
        <!-- Notification -->
        <div class="container" style="padding-top:200px;padding-left:200px">
            <div class="column">
                <div>
                    <button id="notification-trigger" class="progress-button">
                        <span class="content">Show Notification</span>
                    </button>
                </div>
            </div>

        </div>
        <!-- end notification -->
        <footer>
            <p>&copy; @DateTime.Now.Year - ASP.net cloud server Sales Management System</p>
        </footer>
    </div>

    <button id="checkAjax" type="button">Wada krpiyo</button>

    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/StylesForlayout/classie.js"></script>

    @*<script src="~/Scripts/StylesForlayout/modernizr.custom.js"></script>*@
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/StylesForlayout/notificationFx.js"></script>
    <script src="~/Scripts/notification.js"></script>
    <link href="~/Content/default.css" rel="stylesheet" />
    <link href="~/Content/component.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/css")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/jquery.bpopup-0.9.4.min.js"></script>
    @RenderSection("scripts", required: false)

    @*<script type="text/javascript">
            function yes() {
                alert("yes");
                var chat = $.connection.chatHub;

                chat.server.checkPassword($("#pass").val(), name, "");
                chat.client.sendError = function (val) {
                    if (val == "true") {
                        alert(val);
                        notification.dismiss();
                    } else {
                        alert("Wrong password entered");
                    }
                }
            }
        </script>*@

    <script>

        (function () {
            var bttn = document.getElementById('notification-trigger');

            // make sure..
            bttn.disabled = false;

            bttn.addEventListener('click', function () {
                // simulate loading (for demo purposes only)
                classie.add(bttn, 'active');
                setTimeout(function () {

                    classie.remove(bttn, 'active');

                    // create the notification
                    var notification = new NotificationFx({
                        message: '<p>Hello there! I\'m a classic notification but I have some elastic jelliness thanks to <a href="http://bouncejs.com/">bounce.js</a>. </p>',
                        layout: 'growl',
                        effect: 'jelly',
                        type: 'notice', // notice, warning, error or success
                        onClose: function () {
                            bttn.disabled = false;
                        }
                    });

                    // show the notification
                    notification.show();

                }, 1200);

                // disable the button (for demo purposes only)
                this.disabled = true;
            });
        })();

    </script>






















    <script>


    </script>
</body>





</html>
