﻿@model IEnumerable<IdentitySQLDemo.Models.Message>
<div class="jumbotron">
    <dl class="dl-horizontal">

        @foreach (var item in Model)
{


    if (string.Equals(item.UserName, User.Identity.Name))
    {
        <dd style="margin-left:0px">
            @Html.DisplayFor(modelItem => item.MsgDate) | @Html.DisplayFor(modelItem => item.SentTime)<br />
            <b>@item.UserName</b> : @item.Msg
            <br />
            <br />
        </dd>
    }
    <dd style="margin-left:0px">
        @Html.DisplayFor(modelItem => item.MsgDate) | @Html.DisplayFor(modelItem => item.SentTime)<br />
        <b>@Html.DisplayFor(modelItem => item.ReceiverName)</b> : @Html.DisplayFor(modelItem => item.Msg)
        <br />
        <br />
    </dd>
}

    </dl>
</div> 