﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <link href="~/Content/sidebar.css" rel="stylesheet" />
        <div class="container">
            <div class="row no-margin no-padding">
                <div class="col-md-2">
                    <p><a href="~/Account/Addprivilages">Add Privilages</a></p>

                    <p><a href="~/Account/RegisterNew">Register New Employee</a></p>

                    <p><a href="~/Account/FindUser">Find User</a></p>

                    <p><a href="~/Account/GetMyDetails">My Details</a></p>

                    <p><a href="~/Account/GetAllEmployees">All Employees</a></p>

                    <p><a href="~/Account/CompanyDetails">Company Details</a></p>

                    <p><a href="~/Account/GetAllPrivilages">Get Privilages Of All Employees</a></p>

                    <p><a href="~/Account/GetPrivilages">Get Employee Privilages</a></p>

                    <p><a href="~/Account/MyPrvilages">My Privilages</a></p>

                    <p><a href="~/Account/AddUserToRole">Add Users to roles</a></p>

                    <p><a href="~/Home/Chat">Send Messages</a></p>
                </div>
                <div class="col-md-10">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</body>
</html>
