﻿<link href="~/Content/sidebar.css" rel="stylesheet" />

@if(String.Equals(ViewContext.RouteData.GetRequiredString("action"),"Index")){
    <h1>Working @ViewContext.RouteData.GetRequiredString("action").ToString()</h1>
}
<style type='text/css'>
    #left {
        width: 150px;
        height: 100%;
        background-color: aqua;
    }
</style>

<div class="container no-padding" id="con" style="height:100%">
    <div class="row no-margin no-padding" style="height: 700px">
        <div class="col-md-2 no-margin" id="left">
            <ul class="nav navbar-nav">

                <li><p><a href="~/Account/Addprivilages">Add Privilages</a></p></li>

                <li><p><a href="~/Account/RegisterNew">Register New Employee</a></p></li>

                <li><p><a href="~/Account/FindUser">Find User</a></p></li>

                <li><p><a href="~/Account/GetMyDetails">My Details</a></p></li>


                <li><p><a href="~/Account/GetAllEmployees">All Employees</a></p></li>

                <li><p><a href="~/Account/CompanyDetails">Company Details</a></p></li>

                <li><p><a href="~/Account/GetAllPrivilages">Get Privilages Of All Employees</a></p></li>

                <li> <p><a href="~/Account/GetPrivilages">Get Employee Privilages</a></p></li>

                <li><p><a href="~/Account/MyPrvilages">My Privilages</a></p></li>

                <li><p><a href="~/Account/AddUserToRole">Add Users to roles</a></p></li>

                <li><p><a href="~/Account/Manage">Change Password</a></p></li>

                <li><p><a href="~/Home/Chat">Send Message</a></p></li>

                <li><p><a href="~/Account/Notifications">Notifications</a></p></li>
            </ul>
        </div>
        <div class="col-md-10">
