﻿@model IdentitySQLDemo.Models.Purchase_Order

@{
    ViewBag.Title = "deleteInvoice";
}

<h2>deleteInvoice</h2>

<h3>Are you sure you want to delete this?</h3>


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }

