﻿@model IdentitySQLDemo.Models.Purchase_Order

@{
    ViewBag.Title = "editInvoice";
}

<h2>editInvoice</h2>
<div style="float:right;padding-right:200px">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <table class="table-condensed" id="dataTable">
            <tr>
                <th> <center>  customer ID  </center> </th>
                <th> <center>  Item name  </center>   </th>
                <th> <center> Description  </center>  </th>
                <th>  <center>   Unit Price</center>  </th>
                <th> <center>    Quantity  </center>  </th>

                <th></th>
            </tr>


            <tr>
                @*<td> @Html.TextBoxFor(model => model.ID)</td>
                    <td> @Html.TextBoxFor(model => model.item_name) </td>
                    <td> @Html.TextBoxFor(model => model.description)</td>
                    <td> @Html.TextBoxFor(model => model.unit_price)</td>
                    <td> @Html.TextBoxFor(model => model.quantity)</td>*@
                <td>
                    @Html.EditorFor(model => model.ID)

                </td>
                <td>
                    @Html.EditorFor(model => model.item_name)

                </td>
                <td>
                    @Html.EditorFor(model => model.description)

                </td>
                <td>
                    @Html.EditorFor(model => model.unit_price)

                </td>
                <td>
                    @Html.EditorFor(model => model.quantity)

                </td>
                <td></td>


            </tr>







        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>

    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>