﻿@model IEnumerable<IdentitySQLDemo.Models.Purchase_Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="~/signalr/hubs"></script>

<h2>Index</h2>
<div style="float:right;padding-right:200px">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.item_name)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.num)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.unit_price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total_price)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.item_name)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.num)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.unit_price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.total_price)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>*@
                <td>
                    @Html.ActionLink("Edit", "editInvoice", "Custormer", new { id = item.ID }, null) |
                    
                    @Html.ActionLink("Delete", "deleteInvoice", "Custormer", new { id = item.ID }, null)
                    <script type="text/javascript">

                        function sendIncoice() {
                                $.connection.hub.start().done(function () {
                                    var chat = $.connection.chatHub;
                                    chat.server.invoiceSender('@User.Identity.Name', '@item.ID', $('#name').val(), $('#invoice_type').val());
                                    });
                               }

                    </script>
                    <button class="md-trigger" type="button" data-modal="modal-19">Open dialog</button>
                </td>
            </tr>

        }

    </table>
    @*<input type="button" id="authorize" value="Athuorize" onclick="sendIncoice()" />*@
    
    <div id="popup_sendNotification" style="display: none;">
        <div class="pull-left">            
            <input type="text" class="text-success" id="name" />
            <div class="md-content">
                <button type="button" id="authorize" onclick="sendIncoice()">Athorize</button>
            </div>
        </div>
    </div>
    
</div>
<input type="hidden" value="PurchaseOrder" id="invoice_type">
