﻿@model List<IdentitySQLDemo.Models.Purchase_Order>

@{

}

<h2>intsertInvoice</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Purchase_Order</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div><a href="#" id="addNew">Add New</a></div>


        <table class="table-condensed" id="dataTable">
            <tr>
                <th> <center>  customer ID  </center> </th>
                <th> <center>  Item name  </center>   </th>
                <th> <center> Description  </center>  </th>
                <th>  <center>   Unit Price</center>  </th>
                <th> <center>    Quantity  </center>  </th>

                <th></th>
            </tr>


            <tr>
                @if (Model != null && Model.Count > 0)
                {

                    var j = 0;
                    foreach (var i in Model)
                    {
                        @*<td> @Html.TextBoxFor(model => model.ID)</td>
                            <td> @Html.TextBoxFor(model => model.item_name) </td>
                            <td> @Html.TextBoxFor(model => model.description)</td>
                            <td> @Html.TextBoxFor(model => model.unit_price)</td>
                            <td> @Html.TextBoxFor(model => model.quantity)</td>*@
                        <td>
                            @Html.EditorFor(model => model[j].ID)

                        </td>
                        <td>
                            @Html.EditorFor(model => model[j].item_name)

                        </td>
                        <td>
                            @Html.EditorFor(model => model[j].description)

                        </td>
                        <td>
                            @Html.EditorFor(model => model[j].unit_price)

                        </td>
                        <td>
                            @Html.EditorFor(model => model[j].quantity)

                        </td>
                        <td></td>


                        j++;

                    }

                }

            </tr>
        </table>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button id="sendInvoice" type="button"></button>
                @*<input type="submit" value="Create" class="btn btn-default" />*@
            </div>
        </div>
    </div>
}}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {

            //1. Add new row
            $("#addNew").click(function (e) {
                e.preventDefault();

                var $tableBody = $("#dataTable");

                //if ($("#dataTable tr").length > 5) {
                //    alert('You can only add 5 record at a time for the Demo purpose!');
                //    return false;
                //}


                var $trLast = $tableBody.find("tr:last");
                var $trNew = $trLast.clone();

                var suffix = $trNew.find(':input:first').attr('name').match(/\d+/);
                $trNew.find("td:last").html('<a href="#" class="remove">Remove</a>');
                $.each($trNew.find(':input'), function (i, val) {
                    // Replaced Name
                    var oldN = $(this).attr('name');
                    var newN = oldN.replace('[' + suffix + ']', '[' + (parseInt(suffix) + 1) + ']');
                    $(this).attr('name', newN);
                    //Replaced value
                    var type = $(this).attr('type');
                    if (type.toLowerCase() == "text") {
                        $(this).attr('value', '');
                    }

                    // If you have another Type then replace with default value
                    $(this).removeClass("input-validation-error");

                });
                $trLast.after($trNew);

                // Re-assign Validation
                var form = $("form")
                    .removeData("validator")
                    .removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse(form);
            });

            // 2. Remove
            //$('a.remove').live("click", function (e) {   --> this is for old jquery library
            //$('body').on("click", 'a.remove', function (e) {
            //    e.preventDefault();
            //    $(this).parent().parent().parent().parent().remove();
            //});

        });
    </script>
}

