﻿@using PagedList;
@using PagedList.Mvc;
@model IPagedList<IdentitySQLDemo.Models.customer>

    @{
        ViewBag.Title = "search";
        
    }

    <h2>search</h2>

    <div style="float:right;padding-right:200px">
        <table class="table">
            <tr><th>
                    @Html.DisplayNameFor(model => model.First().ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().phone_no)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().email)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>

                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.phone_no)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "editCustomer", "Customer", new { id = item.ID }, null) |
                        @Html.ActionLink("Delete", "deleteCustomer", "Customer", new { id = item.ID }, null) |

                        <a href="javascript:;" data-toggle="collapse" data-target="#demo1"><i class="fa fa-fw fa-arrows-v"></i> View <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo1" class="collapse nav nav-tabs nav-stacked">
                            <li>
                                @Html.ActionLink("Purchase Order", "Index2", "Custormer", new { id = item.ID }, null)
                            </li>
                            <li>
                                @Html.ActionLink("Purchase Return Order", "Index2", "Custormer", new { id = item.ID }, null)
                            </li>

                        </ul>
                </tr>
            }

        </table>
        <center>
            @Html.PagedListPager(Model, page => Url.Action("search", new { page, search = Request.QueryString["search"] }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })
        </center>
    </div>
